<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>个人任务卡</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="../../static/css/common.css">
    <script src="../../static/jQuery/jQuery.js"></script>
    <script src="../../static/bootstrap-4.4.1-dist/js/bootstrap.js"></script>
    <link rel="stylesheet" href="../../static/bootstrap-4.4.1-dist/css/bootstrap.css">
</head>
<body>
<header>
    <div class="container-fluid bg-info">
        <div class="container">
            <div class="row">
                <div class="col-md-1 text-center">
                    <img src="../../static/images/logo.jpg" alt="" class="rounded-circle logo">
                </div>
                <div class="col-md-2 text-center">
                    <h1 class="mt-3 ml-1">任务卡</h1>
                </div>
                <div class="col-md-4 text-center">
                    <div class="login mt-4">
                        <a href="">
                            <img src="../../static/images/登陆.png" alt="">
                            <span>{{ username }}</span>
                        </a>
                    </div>
                </div>
                <div class="col-md-1 text-center">
                    <div class="logout mt-4">
                        <a href="/logout/">
                            <img src="../../static/images/退出.png" alt="">
                            <span>退出</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
    <main>
        <div class="container">
            <div class="editDiv">
                <form action="/publish/" method="post" class="mt-3">
                    <div class="form-group">
                        <input name="title" type="text" placeholder="请填写标题" class="form-control title" id="title"></input>
                    </div>
                    <div class="form-group mt-3">
                        <textarea name="content" placeholder="请填写内容" class="form-control content" id="content-textarea" rows="7"></textarea>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-outline-primary">发布</button>
                    </div>
                    {% csrf_token %}
                </form>
            </div>
        </div>
    </main>
</body>
</html>