.register img, .login img, .info img, .logout img{
    width: 25px;
    height: 25px;
}

.register a, .login a, .info a, .logout a{
    display: block;
    width: 100%;
    height: 100%;
    color: black;
}

.register a:hover, .login a:hover, .info a:hover, .logout a:hover{
    color: black;
    text-decoration: none;
}

.logo {
    width: 100px;
    height: 100%;
}